body,
html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("../images/slj.jpg");
  min-height: 100%;
  min-width: 100%;
}
.row .col.s8 {
  width: 66.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
  margin-top: 16rem;
}
#submitLogBtn {
  float: left;
  margin-left: 4rem;
}

.signUpButton {
  margin-left: 28rem;
}

.signUpForm {
 margin-top: 6rem;
 margin-left: 6rem;
}

.signUpSubmit {
  margin-left: 6rem;
}

.motive {
  height: 14rem;
  width: 22rem;
  text-shadow: black;
  font-size: large;
  font-weight: bolder;
  text-align: center;
  margin-left: 9rem;
  margin-top: 1rem;
}

.movieBackground {
  background-color: silver;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
}


.dbtn {
  background-color: gray;
}

.collection-header {
  text-align: center;
}

.signUp {
  padding: 20px;
}