<body class="row bgimg responsive-img">
  <div class="row logIn">
    <form class="col s8">
      <div class="teal-text text-darken-2 input-field col s4">
        <i class="material-icons prefix">account_circle</i>

        <input id="email-input" type="text" class="validate">

        <input id="icon_prefix" type="text" class="validate">

        <label for="icon_prefix">EMAIL</label>
      </div>
      <div class="teal-text darken-2 input-field col s4">
        <i class="material-icons prefix teal-text darken-2">vpn_key</i>

        <input id="password-input" type="password" class="validate">

        <input id="icon_password" type="password" class="validate">

        <label for="icon_password">PASSWORD</label>
      </div>
    </form>
  </div>
  <div class="row signUp">
    
      <a id="submitLogBtn" class="text-darken-2 waves-effect waves-light btn-small" href="blank">SUBMIT</a>
    
      <a class="text-darken-2 waves-effect waves-light btn-small" href="/signup">SIGN UP</a>
    
  </div>

  <div class="motive">
    "I love cheese, especially bavarian bergkase edam. Melted cheese swiss cheesy grin goat cheese on toast emmental
    parmesan blue castello.
    Bocconcini lancashire cheddar st. agur blue cheese who moved my cheese edam everyone loves squirty cheese. Monterey
    jack airedale."
  </div>
</body>