  <header>
      <!-- Nav bar -->
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper black lighten-2">
            <a href="/members" class="brand-logo">BaMF</a>
            <ul class="right hide-on-med-and-down">
              <li><a class="center" href="/members">HOME</a></li>
              {{!-- <li><a class="center" href="/movies">SEARCH</a></li> --}}
              <li><a id="logoutBtn" class="center" href="/logout">LOG OUT</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
<div class="container">
  {{!-- search bar --}}
  <div class="container" <!-- search bar-->
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">search</i>
        <input type="text" id="search autocomplete-input" class="autocomplete">
        <label for="autocomplete-input">SEARCH MOVIES</label>
      </div>
    </div>

    {{!-- {{#each movie}}
    {{movieCardData}} --}}


    <!-- cards for movies -->
    <div class="row movieCard">
      <div class="col s3">
        <div class="card">
          <div class="card-image">
            <img src="/public/styles/images/b&w tree.jpg">

            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class=" moviePoster card-content">
            <span class="card-title">Card Title</span>
          </div>
        </div>
      </div>

    </div>