  <header>
      <!-- Nav bar -->
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper black lighten-2">
            <a href="/" class="brand-logo">BaMF</a>
            <ul class="right hide-on-med-and-down">
              {{!-- <li><a class="center" href="/members">HOME</a></li> --}}
              {{!-- <li><a class="center" href="/movies">SEARCH</a></li> --}}
              {{!-- <li><a id="logoutBtn" class="center" href="/logout">LOG OUT</a></li> --}}
            </ul>
          </div>
        </nav>
      </div>
    </header>
<div class="row signUpForm bgimg responsive-img">
  <form class="col s6">
    <div class="row">
      <div class="input-field col s3">
        <input id="first_name" type="text" class="validate">
        <label for="first_name">First Name</label>
      </div>
      <div class="input-field col s3">
        <input id="last_name" type="text" class="validate">
        <label for="last_name">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <a id="signupBtn" class=" signUpSubmit waves-effect waves-light btn-small">SUBMIT</a>
  </form>
</div>